{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h3 class="h3-table">Change Password</h2>

<form method="POST">{% csrf_token %}
    <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    <div class="form-row">
        <div class=" form-group col-md-6">
            {{form.old_password|as_crispy_field}}
        </div>
    </div>
    <div class="form-row">
        <div class=" form-group col-md-6">
            {{form.new_password1|as_crispy_field}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.new_password2|as_crispy_field}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-outline-danger btn-md">Change</button>
            <a href="{% url 'settings_profile' %}" class="btn btn-outline-dark btn-md">Back</a>
        </div>
    </div>
</form>
<br>

{% endblock %}