{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h3 class="h3-table">Reset password</h2>

<form method="POST">{% csrf_token %}
    <p>Did you forget your password? Enter your email address below and we'll send you the instructions to set up a new one.</p>
    <div class="form-row">
        <div class=" form-group col-md-6">
            {{form.email|as_crispy_field}}
        </div>
    </div>
    <button type="submit" class="btn btn-outline-dark">Sent email</button>
</form>
<br>

{% endblock %}