{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h3 class="h3-table">Password Reset</h2>

<form method="POST">{% csrf_token %}
    <h4>Enter new password</h4>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <div class="form-row">
        <div class=" form-group col-md-6">
            {{form.new_password1|as_crispy_field}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.new_password2|as_crispy_field}}
        </div>
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-outline-dark">Change my password</button>
    </div>
</form>
<br>

{% endblock %}