<!doctype html>
<html>

<head>

    <!--Use the static template tag to build the URL for the given relative path-->
    <!--Store your static files in a folder called static in your app. For example my_app/static/my_app/example.jpg.-->
    {% load static %}
    
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap--> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css"> Si quieres agregarlo manualmente de la descarga-->

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'Btapp/css/style.css' %}">
    
</head>

<body style="padding-top: 80px;">
    <header>
        <!-- BARRA de NAVEGACION -->
        <!--Navbars can utilize .navbar-toggler, .navbar-collapse, and .navbar-expand{-sm|-md|-lg|-xl} classes to change when their content collapses behind a button. 
            In combination with other utilities, you can easily choose when to show or hide particular elements. For navbars that never collapse, add the 
            .navbar-expand class on the navbar. For navbars that always collapse, don’t add any .navbar-expand class.-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> 
            <a href="{% url 'home' %}" class="navbar-brand">
                <img src="{% static '/img/kindred2.jpg' %}" width="30" height="30" class="d-inline-block align-top" loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> <!--El icono de boton de collapso-->
            </button> 
            <div class="collapse navbar-collapse" id="navbar"> <!--navbar-collapse for grouping and hiding navbar contents by a parent breakpoint.-->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resgister
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbar">
                            <a href="{% url 'new_ticket' %}" class="dropdown-item">Ticket</a>
                            <a href="{% url 'new_project' %}" class="dropdown-item">Project</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown"> 
                        <a class="nav-link dropdown-toggle" href="#" id="navbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Records
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbar">
                            {% if user.is_staff %}
                                <a href="{% url 'user_index' %}" class="dropdown-item">Users</a>
                            {% endif %}
                            <a href="{% url 'project_index' %}" class="dropdown-item">Projects</a>
                            <a href="{% url 'ticket_index' %}" class="dropdown-item">Tickets</a>
                        </div>
                    </li>       
                </ul>       
                <div class="dropdown">
                    <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.is_anonymous %}
                        Guest
                        {% else %}
                        {{user}}
                        {% endif %}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                        {% if user.is_anonymous %}
                            <a href="{% url 'login' %}" class="dropdown-item">
                            <img class="profile-pic" src="{% static 'Btapp/img/user.jpg' %}" alt="" loading="lazy" style="width: 25pt; height: 25pt; border-radius: 50%;">
                            Profile</a>
                            {% else %}
                            <a href="{% url 'profile' %}" class="dropdown-item">
                                <img class="profile-pic" src="{{user.profile.profile_pic.url}}" alt="" loading="lazy" style="width: 25pt; height: 25pt; border-radius: 50%;">
                                Profile</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'logout' %}" class="dropdown-item">
                            <img src="{% static 'Btapp/img/logout.png' %}" alt="" class="d-inline-block align-top" loading="lazy" style="width: 25pt; height: 25pt; border-radius: 50%;">
                            Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="content">
        <!-- Contenido cambiante -->
        <div class="container"> <!--.conteiner para centrar-->
            <section class="main row"> 
                <article class="color1 col-12"> <!--El article abarca X columnas para los diferentes tamaños sm, md,...-->
                                                <!--Diferentes tamaños hace que la pagina sea responsive-->
                    {% block content %}
                    {% endblock %}
                </article>
            </section>
        </div>  
    </div>

    <!-- Footer -->
    <footer>
        <p><a href="{% url 'contact' %}" style="color: white;">Contact</a></p>
    </footer>

    <!-- Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
</body>

</html>