{% extends "base.html" %}

{% block content %}
<div class="container">
    <section>
        <h1>Projects</h1>    
    </section>
    
    <section>
        <table
            class="table table-responsive-sm table-striped "
            id="table"
            data-toggle="table"
            data-search="true"
            data-show-columns="true"
            data-pagination="true"
            data-height="460">
            <thead class="thead-dark"> <!--Ya es responsive por defecto-->
                <tr>
                    <th data-field="id" data-sortable="true">ID Project</th>
                    <th data-field="title"data-sortable="true">Name</th>
                    <th data-field="registration_date" data-sortable="true">Date</th>
                    <th data-field="details"><center>Details</center></th>
                </tr>
            </thead>
            <tbody>
                {% for project in project_list %}
                <tr>
                    <th>{{project.id}}</a></th>
                    <th>{{project.name}}</th>
                    <th>{{project.registration_date}}</th>
                    <th> 
                        <center>
                            <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">Go</a>
                        </center>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>

{% endblock %}