{% extends "base.html" %}

<!--https://simpleisbetterthancomplex.com/tutorial/2018/08/13/how-to-use-bootstrap-4-forms-with-django.html-->
{% load crispy_forms_tags %}

{% block content %}

{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="background-color: #ffbd08; color: black;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}

<table class="table table-responsive-sm" style="margin-block: 0pt;">
    <thead>
        <h2 style="background-color: #343434; color: white;">Ticket {{ ticket.id }}</h2>
        <br>
    </thead>
    <tbody>
        <tr>
            <th>Author:</th><td>{{ticket.author}}</td>
            <th>Project:</th><td>{{ticket.project}}</td>
        </tr>
        <tr>
            <th>Level:</th><td>{{ticket.get_level_display}}</td>
            <th>Stage:</th><td>{{ticket.get_stage_display}}</td>
        </tr>
        <tr>
            <th>Opening Date:</th><td>{{ticket.opening_date}}</td>
            <th>Last Modified:</th><td>{{ticket.last_modified}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-responsive-sm" style="margin-block: 0pt;">
    <tbody>
        <tr><th>Description:</th><td>{{ticket.description}}</td></tr>
        <tr><th>Keywords:</th><td>{{ticket.keywords}}</td></tr>
        <tr><th>Attachments:</th>
            <td>
                {% if ticket.attachments %}
                    <a href="{{ticket.attachments.url}}">{{ticket.attachments.name}}</a>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
<hr>
<br><br>
<center>
    <a href="{% url 'update_ticket' ticket.pk %}" class="btn btn-dark" role="button">Update</a>
    &nbsp;
    <a href="{% url 'delete_ticket' ticket.pk %}" class="btn btn-danger" role="button">Delete</a>
</center>

<br><br>
<hr>

<section>
    <h3 style="background-color: #343434; color: white;"><center>Comments</center></h3>
    <br>
    {% for comment in ticket.comments.all %}
    <br>
        <div class="card" style="background-color:white">
            <h5 class="card-header"><strong>{{comment.author}} --- {{comment.comment_date}}</strong></h5>
            <div class="card-body" style="background-color:rgb(231, 231, 231)">
              <p class="card-text">{{comment.text}}</p>
            </div>
          </div>
    {% endfor %}

<br><br>
<center>
    <a href="{% url 'new_comment' ticket.pk %}" class="btn btn-outline-dark btn-lg" role="button">Add a comment</a>
</center>
</section>
<br><br>

{% endblock %}