{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="background-color: #ffbd08; color: black;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}

<div class="container">
    <br>
    <section>
        <h1>Register a new Project</h1>
    </section>

    <br> <!--un espacio en la parte de arriba-->
    <section>
        <form action="/new_project/" method="POST">{% csrf_token %} <!--Cross Site Request Forgery protection-->
            <div class="form-row">
                <div class=" form-group col-md-6">
                    {{form.members|as_crispy_field}}
                </div>
                <br>
            </div>
            <div class="form-row">
                <div class=" form-group col-md-6">
                    {{form.name|as_crispy_field}}
                </div>
            </div>
            <br>   
            <p>Hold down the Ctrl or Command key to select multiple options.</p> 
            <button type="submit" class="btn btn-primary">Submit</button>                                                                        <!--outline es para que no tenga fondo de color y dark es el color-->           
        </form>
        <br>
    </section>
</div>

{% endblock %}