{% extends "base.html" %}

{% block content %}
<div class="container">
    <section>
        <h1>Projects</h1>    
    </section>
    
    <section>
        <table
            class="table table-responsive-sm table-striped "
            id="table"
            data-toggle="table"
            data-search="true"
            data-show-columns="true"
            data-pagination="true"
            data-height="460">
            <thead class="thead-dark"> <!--Ya es responsive por defecto-->
                <tr>
                    <th data-field="id" data-sortable="true"># Project</th>
                    <th data-field="author" data-sortable="true">Author</th>
                    <th data-field="title"data-sortable="true">Title</th>
                    <th data-field="registration_date" data-sortable="true">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for project in project_list %}
                <tr>
                    <th><a href="{% url 'project_detail' project.id %}">{{project.id}}</a></th>
                    <th>{{project.author}}</th>
                    <th>{{project.title}}</th>
                    <th>{{project.registration_date}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>

{% endblock %}